body {
    font-family: 'Calistoga', cursive;
    --text-color: #F2D8B3;
    --background-color:#75746a;
    --active-color: #Ffd195;
    --warn-color: #de7e44;
    --mild-color: #5d9b84;
    background-color: var(--background-color);
}

#header {
    margin: 0 auto;
    position: relative;
    right: 40px;
    width: max-content;
    text-align: left;
    color: #F2D8B3;
    font-size: 2vw;
    min-font-size: 20px;
    padding: 0;
    line-height: 0;
}

#game-body {
    width: 45vw;
    height: 40vw;
    min-width: 700px;
    min-height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
}

#cell-container {
    width: 40vw;
    height: 40vw;
    min-height: 600px;
    min-width: 600px;
    border: solid var(--active-color) 2px;
    margin: 0 0;
    display: grid;
    background-color: var(--warn-color);
    border-radius: 5px;
}


/* Button styling */
#button-container {
    position: relative;
}

.buttons {
    width: 90px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-family: 'Calistoga', cursive;
    text-align: center;
    position: relative;
    left:20px;
    margin-bottom: 5px;
}
.buttons:focus{
    outline: none;
}

.control-button {
    background-color: var(--active-color);
    position: relative;
    bottom: 180px;
    color: var(--warn-color);
}

.control-button:hover{
    border: var(--active-color) 2px solid;
    background-color: var(--warn-color);
    color: var(--active-color);
}

.fun-button {
    background-color: var(--warn-color);
    color: var(--active-color);
    position: relative;
    bottom: 150px;
}
.fun-button:hover{
    background-color: var(--active-color);
    color: var(--warn-color);
    border: var(--warn-color) 2px solid;
}


/* Cell styling */

.cell {
    border-radius: 4px;
    background-color: var(--active-color);
}
.alive{
    background-color: var(--mild-color);
    border: var(--active-color) 1px solid;
}
