body {
    font-family: 'Calistoga', cursive;
    --text-color: #F2D8B3;
    --background-color: rgb(20, 30, 27);
    --active-color: #Ffd195;
    --warn-color: #de7e44;
    --mild-color: #5d9b84;
    background-color: var(--background-color);
}

#header {
    margin: 0 auto;
    position: relative;
    right: 40px;
    width: max-content;
    text-align: left;
    color: #F2D8B3;
    font-size: 2vw;
    min-font-size: 20px;
    padding: 0;
    line-height: 0;
}

#game-body {
    width: 45vw;
    height: 40vw;
    min-width: 700px;
    min-height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
}

#cell-container {
    width: 40vw;
    height: 40vw;
    min-height: 600px;
    min-width: 600px;
    border: solid var(--active-color) 2px;
    margin: 0 0;
    display: grid;
    background-color: var(--warn-color);
    border-radius: 5px;
}

#button-container {
    position: relative;
}

.control-button {
    width: 70px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-family: 'Calistoga', cursive;
    text-align: center;
}
.control-button:focus{
    outline: none;
}

#start-end {
    background-color: var(--active-color);
    position: relative;
    bottom: 200px;
    left: 20px;
    color: var(--warn-color);
}
#start-end:hover{
    border: var(--active-color) 2px solid;
    background-color: var(--warn-color);
    color: var(--active-color);
}

#surprise-me {
    background-color: var(--warn-color);
    color: var(--active-color);
    position: relative;
    bottom: 150px;
    left: 20px;
}
#surprise-me:hover{
    background-color: var(--active-color);
    color: var(--warn-color);
    border: var(--warn-color) 2px solid;
}
#cell {
    border-radius: 5%;
    background-color: #9fa39a;
    border: 1px solid floralwhite;
}
.cell {
    border-radius: 4px;
}
.alive{
    background-color: var(--mild-color);
    border: var(--active-color) 1px solid;
}
.dead{
    background-color: var(--active-color);
}